{% extends "base.html" %}

{% block title %}ホーム{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block header %}
{% set header_title = "ホーム画面" %}
{% include '_header.html' %}
{% endblock %}

{% block content %}
<div class="menu-section">
    <div class="menu-item">
        <a href="/round/new" class="menu-link">新規ラウンド</a>
    </div>
    <div class="menu-item">
        <a href="/round/list" class="menu-link">過去ラウンド</a>
    </div>
    <div class="menu-item">
        <a href="/course/list" class="menu-link">コース一覧</a>
    </div>
</div>
{% endblock %}
